.dagelijkswoord-verse {
  color: var(--color-text-bright);
  font-size: var(--font-size-medium);
  font-weight: 200;
}

.dagelijkswoord-source {
  color: var(--color-text);
  font-size: var(--font-size-medium);
}

.dagelijkswoord-donation {
  font-size: var(--font-size-xsmall);
  font-weight: bold;    
  color: #ff8e99; 
}  
